:root {
	--dark: #10202f;
	--light: #eee;
	--teal: #32c7d2;
}

html {
	background-color: var(--dark);
	color: var(--light);
	font-family: 'Roboto', sans-serif;
}

body {
	margin: 0;
}

#content {
	width: 50%;
	margin: 100px auto;
	min-width: 600px;
}

h1, h2, h3, h4, h5, h6, h7 {
	font-weight: 100;
}

h1 {
	font-size: 48px;
}

h2 {
	font-size: 36px;
}

p>a, p>a:visited {
	text-decoration-style: dashed;
	text-decoration-skip: true;
	color: var(--light);
}

p>a:hover {
	color: var(--teal);
}

.button {
	text-decoration: none;
	padding: 5px 15px;
	border: 1px solid var(--light);
	color: var(--light);
	margin: 0 3px 3px 0;
	box-sizing: border-box;
	text-align: center;
	text-transform: uppercase;
	border-radius: 3px;
}

.button:hover {
	color: var(--teal);
	border-color: var(--teal);
}

.button:active {
	color: var(--dark);
	border-color: var(--dark);
	background-color: var(--light);
}

.contact-links {
	width: 100%;
	text-align: center;
	margin-top: 40px;
}

.contact-img {
	height: 50px;
}